* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid purple;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: scale(0.5);
    opacity: 0;
}
.post-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: all 500ms ease-in;
}

.post-exit {
    transform: scale(1);
    opacity: 1;
}
.post-exit-active {
    transform: scale(0.5);
    opacity: 0;
    transition: all 500ms ease-out;
}

.navbar {
    height: 70px; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: purple;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar__links {
    display: flex;
    gap: 20px;
}

.navbar__links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.navbar__links a:hover {
    background: darkviolet;
    color: white;
}
