.myInput {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0 20px 0; 
    border: 2px solid purple;
    font-size: 14px;
    box-sizing: border-box; 
    background-color: rgba(128, 0, 128, 0.1);
    color: purple;
    transition: border-color 0.3s;
}

.myInput:focus {
    outline: none;
    border-color: darkviolet;
}